.recruitment-container{
  border: 1px solid red;
  height: 20px;
  .recruitment-banner{
    width: 100%;
    min-width: 1200px;
    height: 240px;
    img{
      width: 100%;
      min-width: 1200px;
      height: 240px;
    }
  }
  .recruitment-content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

}