.teacher-container{
  .teacher-banner{
    width: 100%;
    min-width: 1200px;
    height: 240px;
    img{
      width: 100%;
      min-width: 1200px;
      height: 240px;
    }
  }
  .teacher-item-box{
    width: 50%;
    height: 400px;
    background-color: #fff;
  }
  .teacher-item1{
    background: url("../../images/teacher/item1.gif") no-repeat center top fixed;
    height:400px;
  }
  .teacher-item2{
    background: url("../../images/teacher/item2.jpg") no-repeat center top fixed;
    height:400px;
  }
  .teacher-item3{
    background: url("../../images/teacher/item3.jpg") no-repeat center top fixed;
    height:400px;
  }
  .teacher-item4{
    background: url("../../images/teacher/item4.jpg") no-repeat center top fixed;
    height:400px;
  }
  .teacher-item5{
    background: url("../../images/teacher/item5.gif") no-repeat center top fixed;
    height:400px;
  }
}
