.teacher-container{

  .teacher-banner{
    width: 100%;
    min-width: 1200px;
    height: 240px;
    img{
      width: 100%;
      min-width: 1200px;
      height: 240px;
    }
  }
  .teacher-position{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    .teacher-list{
      width: 1200px;
      margin-bottom: 60px;
      .teacher-title{
        width: 240px;
        margin: 60px auto;
        font-size: 30px;
        color: #666;
      }
      .list{
        height: 360px;
        background-color: #fff;
        color: #4d4d4d;
        padding: 60px 30px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        cursor: pointer;
        .avatar{
          width: 220px;
          height: 220px;
          border-radius: 50%;
          margin-right: 30px;
        }
        .right-box{
          width: 880px;
          .goodAt{
            font-size: 14px;
            display: flex;
            flex-wrap: nowrap;
            span{
              font-weight: bold;
              white-space: nowrap;
            }
          }
          .box{
            margin: 20px 0;
            .text{
              font-size: 14px;
            }
          }
        }
        .name{
          font-size: 24px;
          display: flex;
          flex-wrap: nowrap;
          span{
            font-size: 18px;
            margin-top: 10px;
            margin-left: 20px;
          }
        }
        .position{
          font-size: 20px;
        }
        &:hover{
          box-shadow: 0 0 6px rgba(0,0,0,.16);
          background-color: #f5f5f5;
        }
      }

    }
    .scrollNav{
      position: fixed;
      top:400px;
      right:60px;
      background-color: #fff;
      width: 180px;
      li{
        margin-bottom: 5px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        box-shadow: 0 0 6px rgba(0,0,0,.16);
        cursor: pointer;
        position: relative;
        &:hover{
          background-color: @theme-color;
          color: #fff;
          span{
            position: absolute;
            top: 0;
            left: -15px;
            width: 10px;
            background-color: @theme-color;
            display: block;
            height: 100%;
          }
        }
      }
    }
  }

}
