.map-container{
  width: 100%;
  .map-banner{
    width: 100%;
    min-width: 1200px;
    height: 240px;
    img{
      width: 100%;
      min-width: 1200px;
      height: 240px;
    }
  }
  .map-position{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    .map-box{
      height: 500px;
    }
    .title{
      text-align: center;
      font-size: 30px;
      color: #4D4D4D;
      margin: 60px 0 30px 0
    }
    .route{
      margin: 30px 0 100px 0;
      .text{
        font-size: 14px;
        color: #4D4D4D;
        line-height: 24px;
      }
    }
  }
}
.about-container{
  width: 100%;
  padding-bottom: 150px;
  box-sizing: border-box;
  .about-position{
    width: 1200px;
    margin: 0 auto;
  }
  .about-banner{
    width: 100%;
    min-width: 1200px;
    height: 240px;
    img{
      width: 100%;
      min-width: 1200px;
      height: 240px;
    }
  }
  .bottom-content{
    position: relative;
    .content-right{
      bottom: 0;
      right: 0;
      position: absolute;
      height: 240px;
      width: 160px;
      .text{
        font-size: 16px;
        color: #666;
      }
      .title{
        font-size: 24px;
        color: #666;
      }
    }
    .content-left{
      .list{
        margin-bottom: 35px;
        .title{
          font-size: 24px;
          line-height: 24px;
          color: #707070;
          margin-bottom: 20px;
        }
        .description{
          font-size: 18px;
          color: #4d4d4d;
          margin-bottom: 10px;
        }
      }
    }
  }
  .contactUs{
    .contact-box{
      display: flex;
      flex-wrap: nowrap;
      .list{
        width: 360px;
        height: 370px;
        margin-right: 60px;
        &:last-child{
          margin-right: 0;
        }
        .title{
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 45px;
        }
        .box{
          position: relative;
          .address{
            margin-top: 30px;
            display: flex;
            flex-wrap: nowrap;
            line-height: 30px;
            font-size: 18px;
            color: #F07E0F;
            cursor: pointer;
            &:hover{
              text-decoration: none;
            }
            .icon-svg{
              width: 30px;
              height: 30px;
            }
          }
          img{
            position: absolute;
            top: 110px;
            left: 200px;
            cursor: pointer;
          }
          .text{
            font-size: 18px;
            color: #666;
            line-height: 30px;
          }
        }
      }
    }
    .content-title{
      margin: 25px 0;
      .title-text{
        font-size: 30px;
        line-height: 30px;
        color: #666;
      }
      .title-description{
        font-size: 30px;
        color: #ccc;
      }
    }
  }
  .about-content{
    padding-top: 60px;
    box-sizing: border-box;
    border-bottom: 1px dotted #A0A0A0;
    .content-box{
      margin-bottom: 30px;
      .desContent{
        font-size: 18px;
        color: #4d4d4d;
        margin-top: 20px;
      }
      .content-title{
        .title-text{
          font-size: 30px;
          line-height: 30px;
          color: #666;
        }
        .title-description{
          font-size: 30px;
          color: #ccc;
        }
      }
    }
  }
}