/*课程列表动画*/
.bannerList-appear{
  opacity: 0.01;
  transform: translateX(-100%) scale(0.75);
}
.bannerList-appear-active{
  opacity: 1;
  transform: translateX(0%) scale(1);
  transition: all 300ms ease-in-out;
}

.tra1{ transition: 300ms ease 50ms; -webkit-transition: 300ms ease 50ms;}

.swiper-item-container{
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

}

.swiper-container{
  img{
    width: 100%;
    height: 400px;
    min-width: 1200px;
  }
}
//轮播图左侧菜单选项
.nav-menuDown-box{
  position:absolute;
  z-index: 2;
  width: 100%;
  .inner-box{
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    .nav-menuDown-right{
      width: calc(100vw - 200px);
      height: 400px;
      background-color: #fff;
      box-shadow: 0 0 6px rgba(0,0,0,.3);
    }
    .menu-popup{
      position: absolute;
      width: 120px;
      height: 400px;
      background-color: #Fff;
      left: 200px;
      padding-top: 30px;
      box-sizing: border-box;
      li{
        margin-bottom: 25px;
        cursor: pointer;
        span{
          margin: 0 auto;
          width: 40px;
          height: 45px;

          border: 1px solid red;
        }
        .popup-text{
          font-size: 11px;
          line-height: 11px;
          white-space: nowrap;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .nav-menuDown{
      min-width: 200px;
      width: 200px;
      height: 400px;
      background:rgba(93,150,238,0.8);
      padding: 25px 0;
      box-sizing: border-box;
      li{
        font-size: 18px;
        color: #fff;
        padding-left: 20px;
        line-height: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
        transition: all 500ms;
        //opacity: 0.7;
        .icon-svg{
          position: absolute;
          width: 20px;
          height: 20px;
          top: 15px;
          fill:#fff;
          right: 20px;
        }
        &:hover{
          //font-weight: bold;
          transform: scale(1.05);
          transition: all 500ms;
          opacity: 1;
          span{
            background: url("../../images/title.png");
            height:1px;width:182px;
            background-position:-1px -126px;
          }
        }
      }
    }
  }
}

.home-container{
  background-color: #F5F5F5;
  width: 100%;
  min-width: 1200px;
  .item1{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    height: 140px;
    width: 100%;
    min-width: 1200px;
    .item1-position{
      width: 1200px;
      padding: 20px 0;
      margin: 0 auto;
      .item-list{
        padding: 0!important;
        border: 0 !important;
        .item1-list-box{
          width: 130px;
          height: 48px;
          border: 1px solid #BCBCBC;
          float: left;
          display: flex;
          flex-wrap: nowrap;
          padding: 8px 0 8px 15px;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 30px;
          color: #666;
          cursor: pointer;
          i{
            display: block;
            background: url("../../images/title.png");
            margin-right: 10px;
          }
          .img1{height:30px;width:30px;background-position:-82px 0;}
          .img2{height:30px;width:30px;background-position:-124px 0;}
          .img3{height:29px;width:30px;background-position:-163px 0;}
          .img4{height:30px;width:29px;background-position:-45px 0;}
        }
      }
      .item1-list{
        width: 270px;
        border: 1px solid #BCBCBC;
        height: 100px;
        float: left;
        margin-right: 25px;
        padding: 20px 60px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover{
          box-shadow: 0 0 12px rgba(78,140,238,.3) inset;
        }
        .list-title{
          font-size: 24px;
          color: #666;
          line-height: 24px;
        }
        .list-text{
          line-height: 16px;
          font-size: 16px;
          color: #666;
          margin-top: 15px;
        }
        span{
          background: url("../../images/title.png");
          float:left;
          margin-right: 20px;
        }
        .span1{
          height:60px;width:60px;background-position:-138px -38px;
        }
        .span2{
          height:60px;width:60px;background-position:0 -37px;
        }
        .span3{
          height:60px;width:60px;background-position:-69px -38px;
        }
      }
    }
  }
  .title-description{
    text-align: center;
    margin-bottom: 60px;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    color: #999;
  }
  .title{
    height: 30px;
    line-height: 30px;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
    .text{
      color: #4B4B4B;
      font-size: 30px;
      float: left;
    }
    .span{
      float: left;
      display: block;
      width: 12px;
      height: 12px;
      padding: 3px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #B3D2FC;
      margin: 10px 40px;
      span{
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #67A3F8;
      }
    }
  }
  .course{
    overflow-x: hidden;
    height: 400px;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 30px;
    .course-position{
      width: 1210px;
      margin: 0 auto;
      .course-list{
        .list-box{
          float: left;
          width: 210px;
          height: 220px;
          margin-right: 30px;
          box-shadow: 0 0 6px rgba(0,0,0,.16);
          cursor: pointer;
          &:hover{
            .span-box{
              span{
                transform: scale(1.1);
                transition: all 500ms;
              }
            }
          }
          .span-box{
            height: 120px;
            width: 100%;
            overflow: hidden;
            span{
              display: block;
              height: 120px;
              width: 100%;
              background: url("../../images/home/course.png");
              transition: all 500ms;
            }
            .span1{height:120px;width:210px;background-position:-436px 0;}
            .span2{height:120px;width:210px;background-position:-654px 0;}
            .span3{height:120px;width:210px;background-position:-218px 0;}
            .span4{height:120px;width:210px;background-position:210px 0;}
            .span5{height:120px;width:210px;background-position:-0px 0;}
          }
          .content{
            padding: 16px 10px 25px 10px;
            box-sizing: border-box;
            .course-title{
              font-size: 16px;
              color: #4c4c4c;
              line-height: 16px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .course-text{
              margin-top: 10px;
              font-size: 12px;
              color: #999;
            }
            .price{
              display: flex;
              flex-wrap: nowrap;
              margin-top: 10px;
              span{
                font-size: 18px;
                color: #FF121E;
                line-height: 18px;
                margin-right:15px;
              }
              s{
                color: #ccc;
                font-size: 11px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
  .largeData{
    background-color: #fff;
    height: 734px;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    .largeData-position{
      width: 1200px;
      margin: 0 auto;
    }
    .imgTitle{
      width: 620px;
      margin: 30px auto;
    }
    .data-content{
      .data-description{
        margin: 10px auto;
        height: 30px;
        width: 760px;
        font-size: 18px;
        color: #0069D2;
        text-align: center;
      }
      .img-box{
        position: relative;
        margin-bottom: 30px;
        height: 460px;
        img{
          box-shadow: 0 0 12px rgba(0,0,0,.16);
          float: left;
          z-index: 0;
          width: 50%;
          height: 400px;
          cursor: pointer;
          transition: all 500ms;
          margin-top: 50px;
          &.active{
            box-shadow: 0 0 6px rgba(0,0,0,.16);
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -30%;
            z-index: 1;
            width: 60%;
            height: 450px;
            transition: all 500ms;
          }
        }
      }
    }
  }
  .teacher{
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    .teacher-position{
      width: 1230px;
      margin: 0 auto;
      .teacher-introduce{
        height: 520px;
        .introduce-list{
          padding: 15px 10px 0 10px;
          box-sizing: border-box;
          width: 290px;
          height: 500px;
          float: left;
          margin-right: 14px;
          box-shadow: 0 0 6px rgba(0,0,0,.16);
          cursor: pointer;
          transition: all 500ms;
          background-color: #fff;
          &:hover{
            transform: scale(1.05);
            box-shadow: 3px 3px 12px rgba(0,0,0,.16);
          }
          .content{
            color: #4c4c4c;
            font-size: 14px;
          }
          .position{
            text-align: center;
            color:#4c4c4c;
            font-size: 14px;
            margin-bottom: 30px;
          }
          .name{
            color: #333;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 24px;
            margin:20px 0;
          }
          .avatar{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin: 0 auto;
            background: url("../../images/home/teacher.png") no-repeat;
          }
          .active1{height:180px;width:180px;background-position:-193px 0;}
          .active2{height:180px;width:180px;background-position:-580px 0;}
          .active3{height:180px;width:180px;background-position:-387px 0;}
          .active4{height:180px;width:180px;background-position:0 0;}
        }
      }
    }
  }
  .news{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    .news-position{
      width: 1200px;
      margin: 0 auto;
      .news-box{
        .news-left{
          float: left;
          li{
            width: 210px;
            height: 63px;
            text-align: center;
            line-height: 63px;
            color: #4d4d4d;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 35px;
          }
          li.active{
            background-color: #4e8def;
            color: #fff!important;
            box-shadow: 0 0 10px rgba(78,141,239,1);
          }
        }
        .news-right{
          width: 941px;
          height: 260px;
          border: 4px solid #4e8cee;
          float: right;
          padding:30px;
          box-sizing: border-box;
          li{
            cursor: pointer;
            width: 100%;
            color: #4c4c4c;
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 16px;
            overflow: hidden;
            span{
              float: left;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #4e8cee;
              display: block;
              margin: 3px 10px 0 0;
            }
            .news-title{
              float: left;
              &:hover{
                color: @theme-color;
              }
            }
            .time{
              float: right;
              color: #999;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .baoming{
    width: 100%;
    min-width: 1200px;
    padding-bottom: 50px;
    .baoming-position{
      width: 1200px;
      margin: 0 auto;
      .baoming-box{
        img{
          width: 1200px;
          height: 120px;
        }
      }
      .baoming-btn{
        text-align: center;
        width: 200px;
        height: 52px;
        line-height: 52px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        background-color: @theme-color;
        margin: 0 auto;
        margin-top: 70px;
        cursor: pointer;
      }
    }
  }
}
.server-item-box{
  height: 550px;
  width: 100%;
  min-width: 1200px;
  background-color: #f7f7f7;
  .item-position{
    margin: 0 auto;
    width: 1200px;
    .item-content{
      margin-top: 35px;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 360px;
      .item-list-box{
        width: 720px;
        margin-left: 40px;
        .btn-box{
          display: flex;
          flex-wrap: nowrap;
          margin-top: 30px;
          width: 360px;
          float: right;
          .online-btn{
            cursor: pointer;
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: @theme-color;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 40px;
          }
          .btn-text{
            margin-left: 20px;
            line-height:40px;
            font-size: 18px;
            color: @theme-color;
          }
        }
        .item-text{
          font-size: 18px;
          color: #4d4d4d;
        }
        .content{
          margin-top: 20px;
          width: 720px;
          height: 210px;
        }
        .content3{
          .list{
            font-size: 16px;
            color: #4d4d4d;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 10px;
            line-height: 24px;
            .icon{
              width: 34px;
              min-width: 34px;
              height: 34px;
              border: 1px solid red;
            }
            span{
              margin: 0 10px 0 25px;
              line-height: 34px;
              font-size: 18px;
              color: #4d4d4d;
              font-weight: bold;
              white-space: nowrap;
            }
          }
        }
        .content2{
          .list{
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 40px;
            .icon{
              width: 34px;
              height: 34px;
              border: 1px solid red;
            }
            .box{
              font-size: 16px;
              color: #4d4d4d;
              margin: 0 0 0 25px;
              width: 530px;
              span{
                font-size: 18px;
                color: #4d4d4d;
                font-weight: bold;
                white-space: nowrap;
                margin-bottom: 10px;
              }
            }
          }
        }
        .content1{
          .list{
            font-size: 16px;
            color: #4d4d4d;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 30px;
            line-height: 34px;
            white-space: nowrap;
            .icon{
              width: 34px;
              height: 34px;
              border: 1px solid red;
            }
            span{
              margin: 0 10px 0 25px;
              font-size: 18px;
              color: #4d4d4d;
              font-weight: bold;
              white-space: nowrap;
            }
          }
        }
      }
      .item-img{
        position: relative;
        &>img{
          display: block;
          width: 440px;
          height: 280px;
        }
        .theme{
          position: absolute;
          top: 0;
          left: 0;
          width: 270px;
          height: 50px;
          color: #fff;
          font-size: 24px;
          line-height: 50px;
          font-weight: bold;
          display: flex;
          flex-wrap: nowrap;
          .num{
            background-color: rgba(0,112,255,0.5);
            width: 40px;
            height: 50px;
            text-align: center;
          }
          .text{
            text-align: center;
            margin-left: 5px;
            background-color: rgba(0,112,255,0.5);
            width: 226px;
            height: 50px;
          }
        }
      }
    }
    .title{
      width: 100%;
      height: 80px;
      .title1{
        color: #4D4D4D;
        font-size: 30px;
        text-align: center;
      }
      .title2{
        color: #999;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }

}
