@import '../course/course.less';
@import './qkl.less';
@color1:#ff5d00;
@color2:#ff007f;
@color3:#00c791;
@color4:#37f;

.signUp-container{
  position: fixed;
  width: 100%;
  height: calc(100vh);
  background: rgba(0,0,0,.16);
  z-index: 10;
  margin-top: -160px;
  .sign-box{
    position: relative;
    width: 587px;
    height: 618px;
    margin: 200px auto;
    &:hover{
      .icon-svg{
        display: block;
        cursor: pointer;
      }
    }
    .icon-svg{
      z-index: 11;
      position: absolute;
      display: none;
      right: 30px;
      top: 130px;
      width: 30px;
      height: 30px;
    }
    .signUpImg{
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      margin-left: -260px;
      margin-top: -309px;
    }
    .signUpBtn{
      position: absolute;
      display: block;
      bottom: 130px;
      left: 210px;
      cursor: pointer;
    }
    .inputBox{
      position: absolute;
      display: block;
      width: 270px;
      left: 210px;
      top: 380px;
      input{
        width: 100%;
        height: 42px;
        margin-bottom: 18px;
        outline: none;
        border: 0;
        text-align: center;
        border-radius: 8px;
      }
    }
  }

}
/*课程列表动画*/
.bannerList-appear{
  opacity: 0.01;
  transform: translateX(-100%) scale(0.75);
}
.bannerList-appear-active{
  opacity: 1;
  transform: translateX(0%) scale(1);
  transition: all 300ms ease-in-out;
}

.tra1{ transition: 300ms ease 50ms; -webkit-transition: 300ms ease 50ms;}

//轮播图左侧菜单选项
.Swiper-content{
  position: relative;
  .swiper-container{
    img{
      width: 100%;
      height: 400px;
      min-width: 1200px;
    }
  }
  .swiper-pagination.swiper-pagination-bullets{
    .swiper-pagination-bullet{
      width: 40px;
      border-radius: 0;
      height: 5px;
    }
  }
}
.nav-menuDown-box{
  position:absolute;
  z-index: 2;
  width: 100%;
}

.home-container{
  background-color: #FAFAFA;
  width: 100%;
  min-width: 1200px;
  overflow:hidden;
  .banner-container-box{
    position: relative;
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: 520px;
    overflow: hidden;
    //border-radius: 10px;

    .menu-box{
      position: absolute;
      left: 50%;
      margin-left: -600px;
      bottom: 0;
      width: 230px;
      height: 460px;
      background-color: rgba(0,0,0,.36);
      padding: 0 45px;
      box-sizing: border-box;
      border-radius: 10px 10px 0  0;
      .menu-title{
        font-size: 18px;
        color: #F4A830;
        font-weight: bold;
        margin-top: 35px;
      }
      .course-name{
        h1{
          margin-top: 35px;
          color: #fff;
          font-size: 14px;
          cursor: pointer;
          display: flex;
          flex-wrap: nowrap;
          white-space: nowrap;
          a{
            color: #fff;
          }
          span{
            width: 20px;
            height: 20px;
            background-image: url("../../images/home/fire.png");
            margin: -3px 0 0 5px;
          }
        }
      }
    }
  }
  .course-list,.news-box,.teacher-introduce{
    position: relative;
    .more-btn{
      position: absolute;
      right: 30px;
      top: -30px;
      color: #999;
      font-size: 16px;
      cursor: pointer;
      &:hover{
        color: @theme-color;
      }
    }
  }
  .item1{
    background-color: #fafafa;
    height: 140px;
    width: 100%;
    min-width: 1200px;
    .item1-position{
      width: 1200px;
      padding: 20px 0;
      margin: 0 auto;
      .item-list{
        padding: 0!important;
        //border: 0 !important;
        box-shadow:none!important;
        overflow: inherit!important;
        //border-radius: 0!important;
        width: 310px!important;
        margin: 0!important;
        .item1-list-box{
          width: 150px;
          height: 48px;
          //border: 1px solid #BCBCBC;
          box-shadow: 0 3px 6px rgba(0,0,0,.16);
          //box-shadow: none;
          float: left;
          display: flex;
          flex-wrap: nowrap;
          padding: 8px 0 8px 15px;
          box-sizing: border-box;
          font-size: 16px;
          line-height: 30px;
          color: #666;
          cursor: pointer;
          border-radius: 10px;
          i{
            display: block;
            //background: url("../../images/title.png");
            margin-right: 10px;
          }
          .img1{
            height:30px;width:30px;
            background-image: url("../../images/home/route.png");
          }
          .img2{height:30px;width:30px;background-image: url("../../images/home/liucheng.png");}
          .img3{height:29px;width:30px;background-image: url("../../images/home/price.png");}
          .img4{height:30px;width:29px;background-image: url("../../images/home/story.png");}
        }
      }
      .item1-list{
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        border-radius: 10px;
        position: relative;
        width: 270px;
        //border: 1px solid #BCBCBC;
        height: 100px;
        display: block;
        float: left;
        margin-right: 25px;
        padding: 20px 60px;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
        .inner-box{
          position: absolute;
          height: 100px;
          width: 100%;
          top: 100px;
          left: 0;
          background-color: rgba(93,150,238,0.7);
          transition: all 500ms;
          .button{
            text-align: center;
            color: #fff;
            height: 30px;
            line-height: 30px;
            width: 150px;
            border-radius: 5px;
            margin: 33px auto;
            border: 1px solid #fff;
          }
        }
        &:hover{
          .inner-box{
            top: 0!important;
          }
          //box-shadow: 0 0 12px rgba(78,140,238,.3) inset;
          transition: all 500ms;
        }
        .list-title{
          font-size: 24px;
          color: #666;
          white-space: nowrap;
          line-height: 54px;
        }
        .list-text{
          line-height: 16px;
          font-size: 16px;
          color: #666;
          margin-top: 15px;
        }
        span{
          //background: url("../../images/title.png");
          float:left;
          margin-right: 20px;
        }
        .span1{
          height:60px;width:60px;
          background-image: url("../../images/home/self.png");
        }
        .span2{
          height:60px;width:60px;
          background-image: url("../../images/home/university.png");
        }
        .span3{
          height:60px;width:60px;
          background-image: url("../../images/home/empty.png");
        }
      }
    }
  }
  .title-description{
    text-align: center;
    padding-left: 0!important;
    margin-bottom: 60px;
    display: block;
    //overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    color: #999;
    //margin: 0 auto ;
  }
  /*.title{
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
    .text{
      color: #4B4B4B;
      font-size: 30px;
      text-align: center;
      line-height: 30px;
    }
    .span{
      float: left;
      display: block;
      width: 12px;
      height: 12px;
      padding: 3px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #B3D2FC;
      margin: 10px 20px;
      span{
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #67A3F8;
      }
    }
  }*/
  .course{
    overflow: hidden;
    height: 450px;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 30px;
    .course-position{
      width: 1210px;
      margin: 0 auto;
      .course-title{
        .text{
          font-weight: bold;
          font-size: 30px;
          color: #4d4d4d;
          text-align: center;
          line-height: 100px;
        }
      }
      .course-list{
        position: relative;
        .more-btn{
          position: absolute;
          right: 30px;
          top: -30px;
          color: #999;
          font-size: 16px;
          cursor: pointer;
          &:hover{
            color: @theme-color;
          }
        }
        .list-box{
          float: left;
          width: 210px;
          height: 220px;
          margin-right: 30px;
          box-shadow: 0 0 6px rgba(0,0,0,.16);
          cursor: pointer;
          text-decoration: none;
          position: relative;
          &:hover{
            text-decoration: none;
            .span-box{
              img{
                transform: scale(1.1);
                transition: all 500ms;
              }
            }
          }
          .span-box{
            height: 120px;
            width: 100%;
            overflow: hidden;
            img{
              transform: scale(1);
              transition: all 500ms;
              height: 120px;
              width: 100%;
            }
            span{
              height: 16px;
              line-height: 16px;
              position: absolute;
              top: 0;
              left: 0;
              color: #fff;
              background-color: #FF7D44;
              white-space: nowrap;
              font-size: 10px;
              padding: 0 5px;
              box-sizing: border-box;
            }
          }
          .content{
            padding: 16px 10px 25px 10px;
            box-sizing: border-box;
            text-decoration: none;
            .course-title{
              font-size: 16px;
              color: #4c4c4c;
              line-height: 16px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              text-decoration: none;
            }
            .course-text{
              margin-top: 10px;
              font-size: 12px;
              color: #999;
              text-decoration: none;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .price{
              display: flex;
              flex-wrap: nowrap;
              margin-top: 10px;
              text-decoration: none;
              line-height: 18px;
              white-space: nowrap;
              span{
                font-size: 18px;
                color: #FF121E;
                line-height: 18px;
                margin-right:15px;
                text-decoration: none;
              }
              s{
                color: #ccc;
                font-size: 11px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
  .hot{
    width: 100%;
    height: 550px;
    position: relative;
    .data-box{
      position: absolute;
      top: 146px;
      width: 1200px;
      height: 400px;
      left: 50%;
      margin-left: -600px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      img{
        width: 590px;
      }
    }
    h1{
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -280px;
      font-size: 36px;
      color: #fff;
    }
    &>img{
      width: 100%;
      height: 360px;
    }
  }

  .training{
    overflow: hidden;
    position: relative;
    height: 700px;

    &>img{
      width: 100%;
      min-width: 1200px;
    }
    .training-box{
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -600px;
    }
    .train-title{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: #4d4d4d;
      margin-top: 90px;
    }
    .train-desc{
      text-align: center;
      font-size: 24px;
      color: #808080;
    }
    .train-content{
      width: 1200px;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .list{
        width: 340px;
        height: 200px;
        margin-bottom: 30px;
        .img{
          width: 340px;
          height: 148px;
          box-shadow: 0 6px 12px rgba(0,0,0,.16);
          border-radius: 10px;
        }
        .text{
          font-size: 20px;
          font-weight: bold;
          color: #4d4d4d;
          text-align: center;
          margin-top: 25px;
        }
        .img1{
          background-image: url("../../images/home/training/1.png");
        }
        .img2{
          background-image: url("../../images/home/training/2.png");
        }
        .img3{
          background-image: url("../../images/home/training/3.png");
        }
        .img4{
          background-image: url("../../images/home/training/4.png");
        }
        .img5{
          background-image: url("../../images/home/training/5.png");
        }
        .img6{
          background-image: url("../../images/home/training/6.png");
        }
      }
    }
  }
  .teacher{
    position: relative;
    min-height: 1000px;
    //margin-top: 30px;
    &>img{
      width: 100%;
      min-width: 1200px;

    }
    .teacher-box{
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -600px;

    }
    /*.teacher-content{
      position: absolute;
      top: 0;
      width: 1200px;
      left: 50%;
      margin-left: -600px;
      padding: 50px 0 0 20px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      .teacherImg{
        width: 321px;
        height: 312px;
        margin-left: 70px;
        background-image: url("../../images/home/guixun.png");
        background-size: 100%;
      }
      .teacher-desc{
        margin-left: 50px;
        width: 770px;
        height: 500px;
        .text-content{
          margin-left: 100px;
          position: relative;
          .more-teacher{
            position: absolute;
            bottom: -40px;
            font-size: 18px;
            font-weight: bold;
            right: 0;
            color: #fff;
            cursor: pointer;
          }
          .text{
            font-size: 18px;
            color: #fff;
          }
        }
        .teacher-title-box{
          display: flex;
          flex-wrap: nowrap;
          position: relative;
          margin-top: 30px;
          .teacher-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          span{
            position: absolute;
            //margin: 0 25px 0 15px;
            font-size: 25px;
            color: #fff;
            left: 80px;
            bottom: 0;
          }
          .position{
            position: absolute;
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
            color: #fff;
            left: 100px;
            bottom: 0;
          }
        }
      }
    }
    &>img{
      height: 540px;
      width: 100%;
      min-width: 1200px;
    }*/
    .teacher-title{
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
    }
    .teacher-content{
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 60px;
      position: relative;
      .more-btn{
        position: absolute;
        right: 45px;
        top: -40px;
        color: #999;
        font-size: 16px;
        cursor: pointer;
      }
      .item{
        background-color: #fff;
        width: 310px;
        height: 420px;
        margin-bottom: 25px;
        box-shadow: 0 3px 12px rgba(0,0,0,.16);
        &:hover{
          background-color: #343c4a;
          .item-box{
            color: #fff!important;
          }
        }
        .inner-item{
          width: 248px;
          height: 400px;
          margin: 0 auto;
          overflow: hidden;
          .item-box{
            padding-top:20px;
            overflow-y: auto;
            height: 400px;
            width: 266px;
            box-sizing: border-box;
            color: #343c4a;
            &>img{
              width: 145px;
              height: 145px;
              border-radius: 50%;
              margin: 0 auto;
              display: block;
            }
            .name{
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              margin-top: 40px;
            }
            .posi{
              margin-top: 10px;
              font-size: 12px;
              text-align: center;
            }
            .desc{
              font-size: 14px;
              margin-top: 25px;
            }
          }

        }
      }
    }
  }
  .cooperation{
    //margin-top: 50px;
    padding-top: 50px;
    .coop-title{
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
    }
    .coop-content.active{
      opacity: 1;
      margin-top: 40px;
      transition: all 1.5s;
    }
    .coop-content{
      width: 1200px;
      margin: 45px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      opacity: 0;
      margin-top: -200px;
      transition: all 1s;
      .item{
        width: 250px;
        height: 95px;
        margin-bottom: 48px;
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        &:hover{
          box-shadow:none;
        }
        span{
          width: 160px;
          min-height: 50px;
          transition: all 1s;
          margin: 22px auto;
        }
        .span1{
          background: url("../../images/home/cooperation/dzkd(2).png") no-repeat center;
          background-size: 160px 40px;
          margin-top: 30px;
        }
        .span1.active{
          background: url("../../images/home/cooperation/dzkd(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span2{
          background: url("../../images/home/cooperation/scdx(2).png") no-repeat center;
          background-size: 160px 40px!important;
        }
        .span2.active{
          background: url("../../images/home/cooperation/scdx(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span3{
          background: url("../../images/home/cooperation/xncj(1).png") no-repeat center;
          background-size: 160px 50px!important;
        }
        .span3.active{
          background: url("../../images/home/cooperation/xncj(2).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 50px!important;
        }
        .span4{
          background: url("../../images/home/cooperation/xnjt(2).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span4.active{
          background: url("../../images/home/cooperation/xnjt(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span5{
          background: url("../../images/home/cooperation/ymx(3).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span5.active{
          background: url("../../images/home/cooperation/ymx(2).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span6{
          background: url("../../images/home/cooperation/baidu(2).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span6.active{
          background: url("../../images/home/cooperation/baidu(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span7{
          background: url("../../images/home/cooperation/hw(2).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span7.active{
          background: url("../../images/home/cooperation/hw(3).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span8{
          background: url("../../images/home/cooperation/yx2.png") no-repeat center;
          background-size: 160px 50px;
        }
        .span8.active{
          background: url("../../images/home/cooperation/yx1.png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 50px!important;
        }
        .span9{
          background: url("../../images/home/cooperation/xhwx2.png") no-repeat center;
          background-size: 160px 20px;
        }
        .span9.active{
          background: url("../../images/home/cooperation/xhwx1.png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 20px!important;
        }
        .span10{
          background: url("../../images/home/cooperation/ch2.png") no-repeat center;
          background-size: 160px 50px;
        }
        .span10.active{
          background: url("../../images/home/cooperation/ch1.png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 50px!important;
        }
        .span11{
          background: url("../../images/home/cooperation/lg(2).png") no-repeat center;
          background-size: 160px 50px;
        }
        .span11.active{
          background: url("../../images/home/cooperation/lg(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 50px!important;
        }
        .span12{
          background: url("../../images/home/cooperation/st(1).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span12.active{
          background: url("../../images/home/cooperation/st(2).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span13{
          background: url("../../images/home/cooperation/jk(1).png") no-repeat center;
          background-size: 160px 30px;
        }
        .span13.active{
          background: url("../../images/home/cooperation/jk(2).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 30px!important;
        }
        .span14{
          background: url("../../images/home/cooperation/zdcy(2).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span14.active{
          background: url("../../images/home/cooperation/zdcy(1).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
        .span15{
          background: url("../../images/home/cooperation/wjl2.png") no-repeat center;
          background-size: 160px 50px;
        }
        .span15.active{
          background: url("../../images/home/cooperation/wjl1.png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 50px!important;
        }
        .span16{
          background: url("../../images/home/cooperation/wxtc(1).png") no-repeat center;
          background-size: 160px 40px;
        }
        .span16.active{
          background: url("../../images/home/cooperation/wxtc(2).png") no-repeat center!important;
          transition: all 1s;
          background-size: 160px 40px!important;
        }
      }
    }
    /*.coop-content{
      width: 1200px;
      margin: 45px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .img{
        width: 320px;
        height: 180px;
        margin-bottom: 50px;
        color: #fff;
        font-size:18px;
        font-weight: bold;
        text-align: center;
        line-height: 180px;
      }
      .img1{
        background-image: url("../../images/home/cooperation/a1.png");
      }
      .img2{
        background-image: url("../../images/home/cooperation/a2.png");
        line-height: 30px!important;
        padding-top: 60px;
      }
      .img3{
        background-image: url("../../images/home/cooperation/a3.png");
      }
      .img4{
        background-image: url("../../images/home/cooperation/a4.png");
      }
      .img5{
        background-image: url("../../images/home/cooperation/a5.png");
      }
      .img6{
        background-image: url("../../images/home/cooperation/a6.png");
      }
    }*/
  }
  .Introduction{
    background-color: #fff;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;

    .Introduction-position{
      width: 1200px;
      margin: 0 auto;
      height: 400px;
      .IntroductionBox{
        width: 944px;
        margin: 0 auto;
        .item-box1{
          margin-right: 136px;
        }
        .item-box{
          width: 224px;
          float: left;
          box-shadow: none;
          display: block;
          p{
            font-size: 16px;
            color: #1c1f21;
            text-align: center;
            line-height: 24px;
            font-weight: 700;
            margin-top: 16px;
          }
          .img{
            width: 224px;
            height: 108px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            font-size: 24px;
            color: #fff;
            text-align: center;
            line-height: 26px;
            font-weight: 700;
            vertical-align: middle;
            display: table-cell;
          }
          .img1{
            background-image: url("../../images/home/s1_img10.png");
          }
        }
        .item1{
          margin-right: 136px;
        }
      }
      .introductionTitle{
        .title{
          font-size: 32px;
          color: #07111b;
          text-align: center;
          line-height: 48px;
          font-weight: 700;
          margin-bottom: 4px;
        }
        .introductionDesc{
          font-size: 16px;
          color: #383d42;
          text-align: center;
          line-height: 24px;
          margin-bottom: 48px;
          margin-top: 20px;
        }
      }

    }
  }
  .advantage{
    background: url("../../images/home/diff-bg.png");
    width: 100%;
    height: 1160px;
    min-width: 1200px;
    .advantage-position{
      width: 1200px;
      margin: 0 auto;
      .advantage-itemBox{
        height: 400px;
        border-bottom: 1px solid rgba(28,31,33,.1);
        .item{
          width: 368px;
          background: rgba(28,31,33,.04);
          border-radius: 12px;
          padding-top: 28px;
          padding-bottom: 32px;
          margin-right: 24px;
          text-align: center;
          float: left;
          .title{
            width: 304px;
            margin: 0 auto;
            padding-bottom: 24px;
            border-bottom: 1px solid #545c63;
            font-size: 24px;
            color: #545c63;
            height: 52px;
            line-height: 32px;
            font-weight: 700;
          }
          .item-text{
            padding: 0 30px;
            box-sizing: border-box;
            .li1{
              font-weight: bold;
            }
            li{
              box-sizing: border-box;
              font-size: 16px;
              color: #545c63;
              line-height: 56px;
              display: flex;
              flex-wrap: nowrap;
              height: 56px;
              border-bottom: 1px solid rgba(28,31,33,.1);
              span{
                width: 24px;
                height: 24px;
                display: block;
                margin-right: 12px;
                margin-top: 15px;
                background: url("../../images/home/web_part3-d@2x.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
              }
              .span1{
                background: url("../../images/home/web_part3-up@2x.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;

              }
            }
          }
        }
      }
      .advantage-item-box{
        margin-top: 20px;
        height: 164px;
        .item-list{
          margin-top: 30px;
          width: 243px;
          margin-right: 60px;
          height: 164px;
          float: left;
          .title1{
            margin: 16px auto 8px auto;
            font-weight: 700;
            font-size: 16px;
            color: #9447eb;
            line-height: 24px;
            text-align: center;
          }
          p{
            text-align: center;
            font-size: 14px;
            color: #1c1f21;
            line-height: 22px;
          }
          .img{
            width: 72px;
            height: 72px;
            border-radius: 50%;
            margin: 0 auto;
            background-color: #9447EB;
            position: relative;
            .icon-svg{
              display: block;
              width: 40px;
              height: 40px;
              fill:#fff;
              color: #fff;
              margin: 16px;
              position: absolute;
            }
          }
        }
      }
      .advantageTitle{
        padding-top: 30px;
        .title{
          font-size: 32px;
          color: #07111b;
          text-align: center;
          line-height: 48px;
          font-weight: 700;
          margin-bottom: 4px;
        }
        .introductionDesc{
          font-size: 16px;
          color: #383d42;
          text-align: center;
          line-height: 24px;
          margin-bottom: 48px;
          margin-top: 20px;
        }
      }
    }
  }
  .employment{
    background-color: #F3F5F6;
    width: 100%;
    height: 720px;
    min-width: 1200px;
    .employment-position{
      width: 1200px;
      margin: 0 auto;
      .employmentBox{
        .employmentItem{
          position: relative;
          width: 564px;
          min-height: 272px;
          margin-bottom: 24px;
          margin-right: 24px;
          background: #fff;
          box-shadow: 0 4px 8px 0 rgba(28,31,33,.1);
          border-radius: 12px;
          transition: all .3s;
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          cursor: pointer;
          &:hover{
            .itemTop{
              height: 300px;
              box-shadow: 6px -5px 10px -10px rgba(28,31,33,.3), -6px -5px 10px -10px rgba(28,31,33,.3);
              .itemTopBox{
                display: none;
                transition: all .3s;
                -moz-transition: all .3s;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
              }
              .itemTopBox1{
                display: block;
              }
            }
            .itemBottom{
              .text{
                border-top: 1px solid #e5e5e5;
              }
            }
          }
          .itemTop{
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            width: 100%;
            bottom: 60px;
            height: 212px;
            overflow: hidden;
            position: absolute;
            background: #fff;
            transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            .itemTopBox1{
              padding: 40px 40px 0 40px;
              box-sizing: border-box;
              height: 300px;
              display: none;
              .title{
                margin-top: 0;
                font-size: 20px;
                font-weight: bold;
              }
              .title1{ color:@color1; }
              .title2{ color:@color2; }
              .title3{ color:@color3; }
              .title4{ color:@color4; }
              .text{
                font-size: 14px;
                color: #4d4d4d;
                margin: 10px 0;
                span{
                  font-weight: bold;
                  float: left;
                }
              }
              .button{
                width: 200px;
                height: 40px;
                border-radius: 20px;
                line-height: 40px;
                font-size: 14px;
                color: #fff;
                text-align: center;
                font-weight: bold;
              }
              .button1{
                background-color: @color1;
              }
              .button2{
                background-color: @color2;
              }
              .button3{
                background-color: @color3;
              }
              .button4{
                background-color: @color4;
              }
            }
            .itemTopBox{
              transition: all .3s;
              -moz-transition: all .3s;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              display: flex;
              flex-wrap: nowrap;
              padding: 40px 40px 0 40px;
              box-sizing: border-box;
              height: 200px;
              .itemImg{
                width: 160px;
                height: 160px;
                background-repeat: no-repeat;
              }
              .img1{
                background: url("../../images/home/html5.png");
                background-size: 100% 100%;
              }
              .img2{
                background: url("../../images/home/Go.png");
                background-size: 100% 100%;
              }
              .img3{
                background: url("../../images/home/qkl.png");
                background-size: 100% 100%;
              }
              .img4{
                background: url("../../images/home/Python.png");
                background-size: 100% 100%;
              }
              .itemL{
                margin-right: 20px;
                .title{
                  margin-top: 0!important;
                  font-size: 24px;
                  color: #1c1f21;
                  line-height: 36px;
                  margin-bottom: 8px;
                  font-weight: 700;
                  text-align: left;
                }
                .line{
                  display: block;
                  margin-top: 15px;
                  width: 32px;
                  height: 6px;
                  border-radius: 3px;
                  margin-bottom: 11px;
                }
                .line1{
                  background: @color1;
                }
                .line2{
                  background: @color2;
                }
                .line3{
                  background: @color3;
                }
                .line4{
                  background: @color4;
                }
                .text{
                  width: 300px;
                  font-size: 14px;
                  color: #545c63;
                  line-height: 24px;
                }
              }
            }
          }
          .itemBottom{
            padding: 0 40px 40px 40px;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            .text{
              padding-top: 10px;
              width: 480px;
              display: flex;
              flex-wrap: nowrap;
              font-size: 12px;
              color: #9199a1;
              text-align: center;
              line-height: 18px;
              span{
                margin: 7px 10px;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background-color:#9199a1;
                display: block;
              }
            }
          }
        }
      }
      .employmentTitle{
        .title{
          font-size: 32px;
          color: #07111b;
          text-align: center;
          line-height: 48px;
          font-weight: 700;
          margin-bottom: 4px;
        }
        .introductionDesc{
          font-size: 16px;
          color: #383d42;
          text-align: center;
          line-height: 24px;
          margin-bottom: 48px;
          margin-top: 20px;
        }
      }
    }
  }
  .largeData{
    background-color: #fff;
    height: 754px;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    padding-bottom: 20px;
    .largeData-position{
      width: 1200px;
      margin: 0 auto;
    }
    .imgTitle{
      width: 620px;
      margin: 30px auto;
    }
    .data-content{
      .swiper-container{
        height: 450px;
      }
      .active-swiper-data{
        z-index: 2!important;
        border: 1px solid red;
        margin-top: 20px!important;
        img{
          transform: scale(1.4,1.1);
          box-shadow: 0 0 6px rgba(0,0,0,.16);
        }
      }

      .swiper-slide{
        box-shadow: 0 0 12px rgba(0,0,0,.16);
        z-index: 0;
        width: 400px;
        height: 400px;
        cursor: pointer;
        transition: all 500ms;
        margin-top: 40px;
        img{
          width: 400px;
          height: 400px;
        }
      }
      .data-description{
        margin: 10px auto;
        height: 30px;
        width: 760px;
        font-size: 18px;
        color: #0069D2;
        text-align: center;
      }
      .img-box{
        position: relative;
        //margin-bottom: 30px;
        //height: 460px;
        img{
          /*box-shadow: 0 0 12px rgba(0,0,0,.16);
          float: left;
          z-index: 0;
          width: 50%;
          height: 400px;
          cursor: pointer;
          transition: all 500ms;
          margin-top: 50px;*/
          &.active{
            box-shadow: 0 0 6px rgba(0,0,0,.16);
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -30%;
            z-index: 1;
            width: 60%;
            height: 450px;
            transition: all 500ms;
          }
        }
      }
    }
  }
  .teacher{
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 20px;
    .teacher-position{
      width: 1230px;
      margin: 0 auto;
      .teacher-introduce{
        height: 520px;
        .introduce-list{
          width: 290px;
          height: 500px;
          float: left;
          margin-right: 14px;
          box-shadow: 0 0 6px rgba(0,0,0,.16);
          cursor: pointer;
          transition: all 500ms;
          position: relative;
          overflow: hidden;
          .inner-box1{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding: 15px 10px 0 10px;
            box-sizing: border-box;
            width: 100%;
            height: 500px;
            transform: rotateY(0deg);
            transition: all 0.50s ease-in-out 0s;
            background-color: #fff;
          }
          .inner-box2{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            padding: 15px 10px 0 10px;
            box-sizing: border-box;
            width: 100%;
            height: 500px;
            transform: rotateY(90deg);
            transition: all 0.50s ease-in-out 0s;
            background-color: rgba(0,0,0,.5);
            color: #fff;
            .t1{
              font-size: 20px;
              font-weight: bold;
              padding-top: 50px;
              text-align: center;
            }
            .t2{
              font-size: 16px;
              padding-top: 12px;
              text-align: center;
            }
            .t3{
              border-bottom: 1px solid #fff;
              width: 100%;
              margin: 15px 0;
            }
            .t4{
              font-size: 14px;
              width: 202px;
              text-align: justify;
              margin: 20px auto 0;
            }
          }
          .inner-box3{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            //background-color: #fff;
          }
          &:hover{
            .inner-box1{
              transform: rotateY(90deg);
              transition: all 0.50s ease-in-out 0s;
            }
            .inner-box2{
              transform: rotateY(0deg);
              transition: all 0.50s ease-in-out 0s;
            }
            //transform: rotateY(90deg);
            //transition: all 0.50s ease-in-out 0s;

            /*.inner-box{
              transform: rotateY(0deg);
              transition: all 0.50s ease-in-out 0s
            }*/
          }
          .content{
            color: #4c4c4c;
            font-size: 14px;
          }
          .position{
            text-align: center;
            color:#4c4c4c;
            font-size: 14px;
            margin-bottom: 30px;
          }
          .name{
            color: #333;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 24px;
            margin:20px 0;
          }
          .avatar{
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin: 0 auto;
            background: url("../../images/home/teacher.png") no-repeat;
          }
          .active1{height:180px;width:180px;background-position:-193px 0;}
          .active2{height:180px;width:180px;background-position:-580px 0;}
          .active3{height:180px;width:180px;background-position:-387px 0;}
          .active4{height:180px;width:180px;background-position:0 0;}
        }
      }
    }
  }
  .news{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 20px;
    .news-position{
      width: 1200px;
      margin: 0 auto;
      .news-box{
        .newsList-box{
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          .news-title{
            margin-top: 0!important;
            width: 100%;
            height: 60px;
            line-height: 60px;
            display: flex;
            flex-wrap: nowrap;
            font-size: 24px;
            color: #4d4d4d;
            .icon-svg{
              margin-top: 10px;
              width: 40px;
              height: 40px;
              margin-right: 10px;
              fill:@theme-color;
            }
          }
          .newsItem{
            padding: 0 15px;
            box-sizing: border-box;
            width: 390px;
            height: 400px;
            border: 1px solid @theme-color;
            margin-right: 10px;
            .newsItem-content-study{
              li{
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 30px;
                cursor: pointer;
                &:hover{
                  .content-box{
                    .content-title{
                      color: @theme-color;
                    }
                  }
                }
                .content-box{
                  width: 220px;
                  position: relative;
                  .content-title{
                    font-size: 16px;
                    color: #4d4d4d;
                    line-height: 16px;
                    margin-bottom: 5px;
                  }
                  .desc{
                    font-size: 11px;
                    line-height: 16px;
                    color: #4d4d4d;
                  }
                  .createTime{
                    font-size: 12px;
                    color: #999;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                  }
                }
                img{
                  width: 120px;
                  height: 80px;
                  display: block;
                  margin-right: 10px;
                }
              }
            }
            .newsItem-content{
              display: flex;
              flex-wrap: nowrap;
              .left-box{
                width: 10px;
                height: 280px;
                margin-right: 10px;
                margin-top: 5px;
              }
              li{
                cursor: pointer;
                width: 340px;
                margin-bottom: 6px;
                &:hover{
                  .content-title{
                    color: @theme-color;
                  }
                }
                .content-title{
                  font-size: 16px;
                  color: #4d4d4d;
                  width: 340px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  margin-bottom: 5px;
                  display: block;
                }
                .createTime{
                  font-size: 12px;
                  color: #999;
                }
              }
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
        .news-left{
          float: left;
          li{
            width: 210px;
            height: 63px;
            text-align: center;
            line-height: 63px;
            color: #4d4d4d;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 35px;
          }
          li.active{
            background-color: #4e8def;
            color: #fff!important;
            box-shadow: 0 0 10px rgba(78,141,239,1);
          }
        }
        .news-right{
          width: 941px;
          height: 260px;
          border: 4px solid #4e8cee;
          float: right;
          padding:30px;
          box-sizing: border-box;
          li{
            cursor: pointer;
            width: 100%;
            color: #4c4c4c;
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 16px;
            overflow: hidden;
            span{
              float: left;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #4e8cee;
              display: block;
              margin: 3px 10px 0 0;
            }
            .news-title{
              float: left;
              &:hover{
                color: @theme-color;
              }
            }
            .time{
              float: right;
              color: #999;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .baoming{
    width: 100%;
    min-width: 1200px;
    padding-bottom: 50px;
    .baoming-position{
      width: 1200px;
      margin: 0 auto;
      .baoming-box{
        img{
          width: 1200px;
          height: 120px;
        }
      }
      .baoming-btn{
        text-align: center;
        width: 200px;
        height: 52px;
        line-height: 52px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        background-color: @theme-color;
        margin: 0 auto;
        margin-top: 70px;
        cursor: pointer;
      }
    }
  }
}
.server-item-box{
  height: 550px;
  width: 100%;
  min-width: 1200px;
  background-color: #fafafa;
  .item-position{
    margin: 0 auto;
    width: 1200px;
    .item-content{
      margin-top: 35px;
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 360px;
      .item-list-box{
        width: 720px;
        margin-left: 40px;
        .btn-box{
          display: flex;
          flex-wrap: nowrap;
          margin-top: 30px;
          width: 360px;
          float: right;
          .online-btn{
            cursor: pointer;
            width: 120px;
            height: 40px;
            border-radius: 20px;
            background-color: @theme-color;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            line-height: 40px;
          }
          .btn-text{
            margin-left: 20px;
            line-height:40px;
            font-size: 18px;
            color: @theme-color;
          }
        }
        .item-text{
          font-size: 18px;
          color: #4d4d4d;
        }
        .content{
          margin-top: 20px;
          width: 720px;
          height: 210px;
        }
        .content3{
          .list{
            font-size: 16px;
            color: #4d4d4d;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 30px;
            line-height: 24px;
            .icon{
              width: 34px;
              min-width: 34px;
              height: 34px;
              background:url(../../images/server/server.png) no-repeat;
            }
            .icon1{height:28px;width:30px;background-position: 0 0;}
            .icon2{height:32px;width:30px;background-position: -36px 0;}
            .icon3{height:30px;width:30px;background-position: -39px -37px;}
            .icon4{height:28px;width:30px;background-position: -40px -103px;}
            span{
              margin: 0 10px 0 25px;
              line-height: 34px;
              font-size: 18px;
              color: #4d4d4d;
              font-weight: bold;
              white-space: nowrap;
            }
          }
        }
        .content2{
          .list{
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 40px;
            .icon{
              width: 34px;
              height: 34px;
              background:url(../../images/server/server.png) no-repeat;
            }
            .icon1{height:24px;width:32px;background-position: -37px -71px;}
            .icon2{height:26px;width:32px;background-position: 0 -70px;}
            .box{
              font-size: 16px;
              color: #4d4d4d;
              margin: 0 0 0 25px;
              width: 530px;
              span{
                font-size: 18px;
                color: #4d4d4d;
                font-weight: bold;
                white-space: nowrap;
                margin-bottom: 10px;
              }
            }
          }
        }
        .content1{
          .list{
            font-size: 16px;
            color: #4d4d4d;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 30px;
            line-height: 34px;
            white-space: nowrap;
            .icon{
              width: 34px;
              height: 34px;
              background:url(../../images/server/server.png) no-repeat;
            }
            .icon1{height:28px;width:30px;background-position: 0 0;}
            .icon2{height:26px;width:32px;background-position: 0 -35px;}
            .icon3{height:26px;width:32px;background-position: 0 -70px;}
            .icon4{height:31px;width:30px;background-position: 0 -102px;}
            span{
              margin: 0 10px 0 25px;
              font-size: 18px;
              color: #4d4d4d;
              font-weight: bold;
              white-space: nowrap;
            }
          }
        }
      }
      .item-img{
        position: relative;
        &>img{
          display: block;
          width: 440px;
          height: 280px;
        }
        .theme{
          position: absolute;
          top: 0;
          left: 0;
          width: 270px;
          height: 50px;
          color: #fff;
          font-size: 24px;
          line-height: 50px;
          font-weight: bold;
          display: flex;
          flex-wrap: nowrap;
          .num{
            background-color: rgba(0,112,255,0.5);
            width: 40px;
            height: 50px;
            text-align: center;
          }
          .text{
            text-align: center;
            margin-left: 5px;
            background-color: rgba(0,112,255,0.5);
            width: 226px;
            height: 50px;
          }
        }
      }
    }
    .title{
      width: 100%;
      height: 80px;
      .title1{
        color: #4D4D4D;
        font-size: 30px;
        text-align: center;
      }
      .title2{
        color: #999;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}
