@import "./init.less";
@import './index.less';
@import './home/index.less';
body{
  overflow-x:hidden!important;
}
.header-container{
  height: 160px;
  width: 100%;
  min-width: 1200px;
  .header-position{
    width: 1200px;
    margin: 0 auto;
  }
  .header-top{
    height: 110px;
    width: 100%;
    .header-logo{
      margin: 30px 0;
      float:left;
      img{
        height: 46px;
      }
    }
    .header-biaoyu{
      float:left;
      margin: 30px 0 30px 106px;
    }
    .header-right{
      width: 200px;
      float: right;
    }
  }
  .header-nav{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .nav-left{
      width: 200px;
      min-width: 200px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      background-color: #007aff;
    }
    .nav-right{
      width: calc(100vw - 200px);
      line-height: 50px;
      padding:0 104px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      li {
        height: 50px;
        line-height: 50px;
        min-width:120px;
        text-align: center;
        margin: 0 10px;
        &:hover{
          span{
            width: 100%;
            transition:width .5s;
          }
        }
        span{
          width: 0;
          margin: 0 auto;
          transition:width .5s;
          display: block;
          border-bottom: 3px solid #007aff;
          margin-top: -3px;
        }
        a{
          color: #666 !important;
          font-size: 14px;
          text-decoration: none;
          display: block;
          padding: 0 20px;
          box-sizing: border-box;
          white-space: nowrap;
        }
        .active{
          background-color: #007aff;
          color: #fff!important;
        }
      }
    }
  }
}


.footer-container{
  background-color: #535353;
  width: 100%;
  min-width: 1200px;
  .footer{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #454545;
  }
  .footer-position{
    width: 1200px;
    margin: 0 auto;
    .title{
      color: #fff;
      font-size: 18px;
      border-bottom: 1px solid #fff;
      display: block;
      white-space: nowrap;
      text-align: center;
      margin-bottom: 30px;
    }
    .footer1{
      padding-top: 30px;
      height: 224px;
      border-bottom: 1px solid #fff;
    }
    .footer2{
      padding-top: 20px;
      height: 318px;
      border-bottom: 1px solid #fff;
      .item{
        float: left;
        .gongzhonghao{
          width: 128px;
          height: 128px;
        }
        .item-box{
          .text{
            color: #fff;
            font-size: 14px;
            margin-bottom: 22px;
            line-height: 14px;
            a{
              color: #fff;
            }
          }
        }
      }
      .item2{
        margin-right: 80px;
      }
      .item3{
        margin-right: 80px;
      }
      .item1{
        margin-right: 80px;
        .item1-hot{
          .phone{
            color: #5fbcfa;
            font-size: 24px;
            line-height: 24px;
          }
          .text{
            color: #fff;
            font-size: 14px;
            margin-top: 18px;
          }
        }

      }
    }
    .footer3{
      padding-top: 20px;
      height: 172px;
    }
  }

}