@import "./init.less";
@import './home/index.less';
@import './sxx/index.less';
@import './teacher/index.less';
@import './about/index.less';
@import './core/index.less';
@import './download/index.less';
@import "./recruitment/index.less";
@theme-color: #5d96ee;

.float-container{
  //display: none;
  width: 136px;
  position: fixed;
  height: 516px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  right: 10px;
  top: 50%;
  margin-top: -260px;
  z-index: 1000;
  img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .qqContact{
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .toTop{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100px;
    cursor: pointer;
  }
}

.star {
  display: inline-block;
  transform: scale(1);
}
.star-appear{
  opacity: 0.01;
  transform: translateY(-100%) scale(0.75);
}
.star-appear-active{
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 300ms ease-out;
}
.star-enter {
  opacity: 0.01;
  transform: translateY(-100%) scale(0.75);
}
.star-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 300ms ease-out;
}
.star-exit {
  opacity: 1;
  transform: scale(1);
}
.star-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.popup{

}
.popup-enter {
  opacity: 0.01;
  transition: all 300ms ease-out;
}
.popup-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.popup-exit {
  opacity: 1;
  transition: all 300ms ease-out;
}
.popup-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
}
body{}
.header-container{
  height: 159px;
  width: 100%;
  min-width: 1200px;
  .header-position{
    width: 1200px;
    margin: 0 auto;
  }
  .header-top{
    height: 113px;
    width: 100%;
    .header-logo{
      margin: 30px 0;
      float:left;
      background: url("../images/title.png") no-repeat;
      height:51px;width:200px;
      background-position:-236px 0;
      img{
        height: 46px;
      }
    }
    .header-biaoyu{
      float:left;
      margin: 30px 0 30px 50px;
      background: url("../images/title.png") no-repeat;
      height:42px;
      width:433px;
      background-position:-227px -60px;
    }
    .header-right{
      display: flex;
      flex-wrap: nowrap;
      width: 260px;
      float: right;
      margin-top: 40px;
      margin-right: 40px;
      .header-text{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
      }
      span{
        background: url("../images/title.png") no-repeat;
        margin: 0 10px 0 40px;
      }
      .span1{
        height:20px;width:16px;
        background-position:0 0;
      }
      .span2{
        height:18px;width:18px;background-position:-21px -2px;
      }
    }
  }
  .header-nav{
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .nav-left{
      width: 230px;
      min-width: 230px;
      line-height: 50px;
      color: #fff;
      padding-left: 20px;
      box-sizing: border-box;
      background-color: #5d96ee;
      font-size: 18px;
      font-weight: bold;
      margin-right: 20px;
    }
    .nav-right{
      width:1000px;
      line-height: 50px;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      .icon-svg{
        position: absolute;
        top: 16px;
        width: 20px;
        height: 15px;
      }
      li {
        position: relative;
        height: 50px;
        line-height: 50px;
        min-width:120px;
        text-align: center;
        z-index: 1000;
        .popup-header{
          position: absolute;
          top: 50px;
          left: 0;
          width: 120px;
          height: 140px;
          background-color: #fff;
          padding: 10px 0;
          box-sizing: border-box;
          .list{
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #ccc;
            &:hover{
              background-color: @theme-color;
              a{
                color: #fff!important;
              }
            }
          }
        }
        &:hover{
          span{
            width: 100%;
            transition:width .5s;
          }
        }
        span{
          width: 0;
          margin: 0 auto;
          transition:width .5s;
          display: block;
          border-bottom: 3px solid @theme-color;
          margin-top: -3px;
        }
        a{
          color: #666 !important;
          font-size: 14px;
          text-decoration: none;
          display: block;
          padding: 0 20px;
          box-sizing: border-box;
          white-space: nowrap;
        }
        .active{
          background-color: @theme-color;
          fill: #fff!important;
          color: #fff!important;
        }
      }
    }
  }
}


.footer-container{
  background-color: #535353;
  width: 100%;
  min-width: 1200px;
  .footer{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #454545;
  }
  .footer a{
    color: #fff;
    margin-left: 10px;
  }
  .footer-position{
    width: 1200px;
    margin: 0 auto;
    .title{
      color: #fff;
      font-size: 18px;
      white-space: nowrap;
      margin-bottom: 30px;
    }
    .footer1{
      padding-top: 30px;
      height: 254px;
      border-bottom: 1px solid #fff;
      .partner{
        .list{
          float: left;
          margin-bottom: 40px;
          width: 120px;
          height:40px;
          margin-right: 40px;
          display: block;
          img{
            /*width: 120px;
            height:40px;*/
          }
        }
      }
    }
    .footer2{
      padding-top: 20px;
      height: 248px;
      border-bottom: 1px solid #fff;
      position: relative;
      .footer-siteMap{
        position: absolute;
        bottom: 0;
        li{
          float: left;
          margin-right: 15px;
          &>a{
            color: #f7f7f7;
            text-decoration: none;
          }
        }
      }
      .item{
        float: left;
        .gongzhonghao{
          width: 128px;
          height: 128px;
        }
        .item-box{
          .text{
            color: #fff;
            font-size: 14px;
            margin-bottom: 22px;
            line-height: 14px;
            a{
              color: #fff;
            }
          }
        }
      }
      .item2{
        margin-right: 80px;
        .item1-hot{
          .phone{
            color: #5fbcfa;
            font-size: 24px;
            line-height: 24px;
          }
          .text{
            color: #fff;
            font-size: 14px;
            margin-top: 18px;
          }
        }
      }
      .item3{
        margin-right: 80px;
      }
      .item1{
        margin-right: 80px;
      }
    }
    .footer3{
      padding-top: 20px;
      height: 172px;
      &>.box{
        li{
          float: left;
          font-size: 14px;
          margin-right: 20px;
          color: #e6e6e6;
          line-height: 24px;
          cursor:pointer;
          a{
            color: #f7f7f7;
          }
        }
      }
    }
  }

}