@import "./init.less";
@import './index.less';
body{
  overflow-x:hidden;
}
.nav-menuDown-box{
  position:absolute;
  z-index: 2;
  width: 100%;
  .inner-box{
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    .nav-menuDown-right{
      width: calc(100vw - 200px);
      height: 400px;
      background-color: #fff;
      box-shadow: 0 0 6px rgba(0,0,0,.3);
    }
    .nav-menuDown{
      min-width: 200px;
      width: 200px;
      height: 400px;
      background:rgba(0,0,0,0.3);
      li{
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        cursor: pointer;
        &:hover{
          background-color: #fff;
          color: #007aff;
        }
      }
      li.active{
        background-color: #fff;
        color: #007aff;
        box-shadow: 0 0 6px rgba(0,0,0,.3);
      }
    }
  }
}
.header-container{
  height: 160px;
  width: 100%;
  min-width: 1200px;
  .header-position{
    width: 1200px;
    margin: 0 auto;
  }
  .header-top{
    height: 110px;
    width: 100%;
    img{
      margin: 30px 0;
    }
  }
  .header-nav{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .nav-left{
      width: 200px;
      min-width: 200px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      background-color: #007aff;
    }
    .nav-right{
      width: calc(100vw - 200px);
      line-height: 50px;
      padding:0 104px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      li {
        line-height: 50px;
        min-width: 70px;
        text-align: center;
        margin: 0 10px;
        &:hover{
          span{
            width: 100%;
            transition:width .5s;
          }
        }
        span{
          width: 0;
          margin: 0 auto;
          transition:width .5s;
          display: block;
          border-bottom: 3px solid #007aff;
          margin-top: -3px;
        }
        a{
          color: #666 !important;
          font-size: 14px;
          text-decoration: none;
          display: block;
          padding: 0 20px;
          box-sizing: border-box;
          white-space: nowrap;
        }
        .active{
          background-color: #007aff;
          color: #fff!important;
        }
      }
    }
  }
}